@model Luna.Models.RoomPromotion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Room Promotion</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PromotionId" class="control-label"></label>
                <input asp-for="PromotionId" readonly class="form-control" asp-items="@Model.PromotionId)"></input>
            </div>
            <div class="form-group">
                <label asp-for="TypeId" class="control-label"></label>
                <input asp-for="TypeId" class="form-control" readonly  asp-items="@(Model.TypeId)"></input>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" type="date" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" type="date" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="d-flex align-items-center mt-2">
                <div class="form-group ">
                    <input type="submit" value="Save" class="btn btn-secondary" />
                    <a asp-action="Index" class="btn btn-secondary ms-lg-2">Back</a>

                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
