@* <div class='container' style='background-color: #ffffff; margin: 50px auto; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); max-width: 600px;'>
    <div style='text-align: center; padding-bottom: 20px; border-bottom: 1px solid #dddddd;'>
        <h2 style='margin: 0; font-size: 24px;'>Exclusive Discount on Your Favorite Room Type!</h2>
    </div>
    <div style='padding: 20px;'>
        <h5 style='color: #333333;'>Dear {user.FullName},</h5>
        <p style='color: #666666; line-height: 1.5;'>We hope this email finds you well.</p>
        <p style='color: #666666; line-height: 1.5;'>We are excited to inform you about an exclusive discount on one of your favorite room types at Luna! As a valued member of our community, we wanted to give you a heads-up about this special offer before anyone else.</p>
        <p style='color: #666666; line-height: 1.5;'><strong>Details of the Discount:</strong></p>
        <ul style='color: #666666; line-height: 1.5;'>
            <li><strong>Room Type:</strong> {roomTypeId}</li>
            <li><strong>Discount:</strong> {promotion.Discount}</li>
            <li><strong>Valid From:</strong> {discount.StartDate}</li>
            <li><strong>Valid Until:</strong> {discount.EndDate}</li>
        </ul>
        <p style='color: #666666; line-height: 1.5;'>We recommend booking early to ensure availability, as this exclusive offer is for a limited time only. Don’t miss out on the chance to enjoy a luxurious stay at a reduced price!</p>
        <p style='color: #666666; line-height: 1.5;'>If you have any questions or need assistance with your booking, please don't hesitate to contact our customer service team at <i>hoteldelluna@gmail.com</i></p>
        <p style='color: #666666; line-height: 1.5;'>Thank you for choosing Luna. We look forward to welcoming you soon!</p>
        <a href='https://localhost:7185/' style='display: inline-block; margin-top: 20px; padding: 10px 20px; background-color: #007bff; color: #ffffff; text-decoration: none; border-radius: 5px;'>Book Now</a>
    </div>
    <div style='text-align: center; padding-top: 20px; border-top: 1px solid #dddddd; color: #888888;'>
        <p>&copy; 2024 Luna. All rights reserved.</p>
    </div>
</div> *@